@page "/"

<PageTitle>Librería Juamnito</PageTitle>

<h1>¡Bienvenido a la librería Juamnito!</h1>

<p>Tenemos una oferta de libros que esperamos sea de tu agrado.</p>

<div class="container">
    <img src="library.jpg" class="rounded mx-auto d-block" style="width: 500px;" alt="...">
</div>